<div class="row">
  <div class="col-2">
    <ul class="nav flex-column nav-pills border-right" aria-orientation="vertical">
      <li class="nav-link" [routerLinkActive]="['active']" routerLink="/create-survey">
        <i class="fa fa-question-circle"></i>
        <span > Choose survey</span>
      </li>
      <li class="nav-link" [routerLinkActive]="['active']" routerLink="/reports" role="tab">
        <i class="fa fa-pie-chart"></i>
        <span> Reports</span>
      </li>
      <li class="nav-link" [routerLinkActive]="['active']" routerLink="/recipients" role="tab">
        <i class="fa fa-address-book"></i>
        <span> Recipients</span>
      </li>
    </ul>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
